img.st-emotion-cache-5drf04.eczjsme4 {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
}

img {
    width: 150px;
    height: 150px;
    margin: 10px 30px 20px 15px;
    display: block;
}

div.st-emotion-cache-vdokb0.e1nzilvr4 {
    font-size: 50px;
}

button.myButton {
    background-color: #007bff;
    margin-right: 50px;
}